[project]
	description = NSQ debian package
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Florent Clairambault (fclairamb)
[access "refs/for/refs/*"]
	read = group user/Florent Clairambault (fclairamb)
	push = group user/Florent Clairambault (fclairamb)
	label-Code-Review = -2..+2 group user/Florent Clairambault (fclairamb)
	label-Verified = -1..+1 group user/Florent Clairambault (fclairamb)
	rebase = group user/Florent Clairambault (fclairamb)
	removeReviewer = group user/Florent Clairambault (fclairamb)
	submit = group user/Florent Clairambault (fclairamb)
[access "refs/heads/*"]
	read = group user/Florent Clairambault (fclairamb)
	create = group user/Florent Clairambault (fclairamb)
	push = +force group user/Florent Clairambault (fclairamb)
	pushMerge = group user/Florent Clairambault (fclairamb)
[access "refs/tags/*"]
	push = +force group user/Florent Clairambault (fclairamb)
	pushTag = group user/Florent Clairambault (fclairamb)
	pushSignedTag = group user/Florent Clairambault (fclairamb)
